.img{
    background-color: black;
    background-image: url(img/photo-1554124212-a1a16e88a4bd.avif);
    opacity: 1.8;
}

.head{
    margin-top: 200px;
    margin-bottom: 80px;

}  

.reg_but{
    padding: ;
}